@import "../../vars.scss";

.articleCard{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $widthSmall;
	background: $dark;
	color: $white;
	border-radius: $borderRadiusBig;
	&__img{
		height: 200px;
		width: 100%;
		border-radius: 9px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	// !!
	> *:not(img, .cardText, .cardTitle){
	padding: 7px;
	}
}

.cardText, .cardTitle{
	padding: 0 7px;
	max-height: 43px;
	overflow: hidden;
	font-weight: 200;
	color: $lightGray;
}
.cardTitle{
	font-weight: 700;
	color: $white;
}

.articles{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	padding: 15px;
	background: $light;
	border-radius: $borderRadiusBig;
}

.articleFull{
	width: 100%;
	color: $white;
	background: $light;
	padding: 15px;
	// !!
	img{
		border-radius: $borderRadiusBig;
		width: 100%;
		height: 400px;
		object-fit: cover;
	}
	> * {
		margin-bottom: 15px;
	}
	// * underline links in articleFull (textEditor wraps `a` with `p` tag)
	p a{
		text-decoration: underline;
		color: $brand;
	}
}

.tag{
	width: fit-content;
	background: $dark;
	padding: 10px 15px;
	border-radius: $borderRadiusMax;
}