@import "../../vars.scss";

.card{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: $widthSmall;
	background: $dark;
	border-radius: $borderRadiusBig;
	max-width: 345px;
	min-width: 345px;
	background: $dark;
	&__img{
		height: 200px;
		width: 100%;
		border-radius: 9px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	// !!
	> *:not(img, .cardText, .cardTitle){
	padding: 7px;
	}
}

.cardText, .cardTitle{
	padding: 0 7px;
	max-height: 43px;
	overflow: hidden;
	font-weight: 200;
	color: $lightGray;
}
.cardTitle{
	font-weight: 700;
	color: $white;
}

.cards{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	border-radius: $borderRadiusBig;
	padding-bottom: 30px;
}

.articleFull{
	width: 100%;
	// !!
	img{
		border-radius: $borderRadiusBig;
		width: 100%;
		height: 400px;
		object-fit: cover;
	}
	> * {
		margin-bottom: 24px;
	}
	// * underline links in articleFull (textEditor wraps `a` with `p` tag)
	p a{
		text-decoration: underline;
		color: $brand;
	}
}

.tag{
	width: fit-content;
	background: $dark;
	padding: 10px 15px;
	border-radius: $borderRadiusMax;
}

.topIcons{
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.animationDelete{
	animation: animationDelete .5s forwards;
}

@keyframes animationDelete {
	to{
		filter: blur(5px);
	}
}