@import "../../vars.scss";

// ! < $breakpointMobile
@media (max-width:$breakpointMobile) {	
	.cards{
		padding: 30px 0;
	}
	.postFull{
		.chart{
			width: 100%;
		}
	}
}


// ! > $breakpointMobile
@media (min-width:($breakpointMobile+1)) {
	.postFull{
		.chart{
			width: 50%;
		}
	}
}

// !! center div with flex-start inside
@media (max-width:1799px) {	
	.cards{
		width: 1050px;	
	}
}
@media (max-width:1049px) {	
	.cards{
		width: 660px;	
	}
}
@media (max-width:714px) {	
	.cards{
		width: 320px;	
	}
}