@import "../../vars.scss";

.profileMenu{
	position: absolute;
	top: 100px;
	right: 0px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px 15px;
	background: $light;
	min-width: 290px;
	border-radius: $borderRadiusBig;
}

// !!
@media (max-width:$breakpointMobile) {
	.menu .profileMenu{
		left: 0px;
		top: 110px;
	}
}