@import "../../vars.scss";

// ! < $breakpointMobile
@media (max-width:$breakpointMobile) {	
	.pie{
		width: 80%;
	}	
	.doughnut{

	}
}


// ! > $breakpointMobile
@media (min-width:($breakpointMobile+1)) {
	.pie{
		width: 30%;
	}
	.doughnut{
		width: 15%;
	}
}