@import "../../vars.scss";

// ! < 768px or $breakpointMobile
@media (max-width:$breakpointMobile) {
	// !!
	header button{
		display: none;
	}
	// * HIDE main logo text on mobile
	header .logo .iconText{
		&__text{
			display: none;
		}
	}
	// ! logo_user
	// * HIDE logo_user on destop (in Header); SHOW logo_user on mobile (in Menu)
	.logo_user{
		display: none !important;
	}
	.menu .logo_user{
		display: flex !important;
	}
	// ? logo_user
	// ! navBottom
	.navBottom{
		display: none;
	}
	// * HIDE navBottom on destop; SHOW navBottom on mobile (in Menu)
	.menu .navBottom{
		display: block;
	}
	// ? navBottom
	// ! footer
	footer{
		flex-direction: column;
	}
	// ? footer
}


// ! > 768px or $breakpointMobile
@media (min-width:($breakpointMobile+1)) {
	.burger{
		display: none;
	}
}