.comment{
	&__title{
		display: flex; 
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%; 
		margin-left: 15px; 
		margin-top: 15px;
		font-weight: 700;
	}
	&__text{
		padding-left: 70px;
		font-weight: 200;
	}
}

.comments{
	// !!
	> * {
		margin-bottom: 24px;
	}
}