@import "../../vars.scss";

.auth{
	display: flex;
	flex-direction: column;
	width: 725px;
	padding: 40px;
	// !!
	a,button {
		margin-top: 15px;
	}
}

.alert{
	border: 4px solid $danger;
	border-radius: $borderRadiusBig;
	padding: 15px;
}